
*
!*/
!CMakeLists.txt
!.gitignore
!/CMake/**/*
!/3rdParty_x64/**/*

!/OGLPGEngine/**/*
!/MyApp/**/*
!/Proland/**/*
!/Planetary/**/*
!/libsquid/**/*
!/CDLOD/**/*
!/DX/**/*
!/ChunkedLod/**/*
!/Goliath/**/*
!/ECM/**/*


*.html
BUILD_VS2017/**/*
Clang_VS2017/**/*
BUILD_VS2019/**/*
BUILD_VS2022/**/*